/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
   font-family: Keem;
   src: url(/public/fonts/kEEMbold.ttf);
 }

 body {
   overflow: hidden;
   /* filter: hue-rotate(50deg); */
 }

main {
   background-color: black;
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   filter: contrast(1); 
   

}

.enter {
   position: absolute;
   width: 100vw;
   height: 90vh;
   font-family: "Keem";
   text-transform: uppercase;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   background-color: #f4f4f4;
   color: rgba(250, 290, 290, 20);
   z-index: 10 !important;
   display: none;
}


.enter p:hover {
   opacity: 0.5;
}

.diction {
   width: 9vw;
   display: flex;
   z-index: 1;
   position: absolute;
   font-family: auto;
   text-transform: uppercase;
   left: 50%;
   top:80%;
   -webkit-transform: translate(-50%, 0%);
       -ms-transform: translate(-50%, 0%);
           transform: translate(-50%, 0%);
           color: rgba(250, 290, 290, 20);
   pointer-events: none;
}
.diction p{
   fill: rgb(255, 255, 255);
   font-family: "Keem";
}

@keyframes fading-loader {
   to {
       opacity: 0;
   }
}


@media (max-width: 576px) {

   .diction, .enter {
      font-size: 0.8rem;
   }

   .diction {
      /* top: 80%; */
   }

   main { 
      /* -webkit-filter: blur(1px) contrast(1); 
              filter: blur(1px) contrast(1); */
   }
 }